@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* di file CSS kamu */
.quill-editor .ql-container {
    min-height: 20rem;
    font-size: 1em;
  }  

.utama-tba {
    margin: 0 auto;
}

.kembali-tba{
    display: flex;
    align-items: center;
    /* Sejajarkan ikon dan teks ke tengah secara vertikal */
    color: black;
    /* Warna teks hitam */
    font-size: 1em;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    border: none !important;
}

.kembali-tba svg{
    margin-right: 0.8rem;
    /* Beri jarak antara ikon dan teks */
}

.kembali-tba p {
    margin: 0;
    /* Hilangkan margin default pada <p> */
    font-family: 'Inter', serif;
    font-size: 0.85em;
    font-weight: bold;
    text-decoration: underline;
}

.kembali-tba:hover {
    color: #145B73;
    cursor: pointer;
}

.utama-tba h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lora', serif;
    font-weight: bold;
    margin: 2.5rem;
    font-size: 1.7em;
}

.tambah-gambar-berita-admin {
    flex-direction: column;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
    height: 15rem !important;
}

.tambah-gambar-berita-admin p {
    font-family: 'Inter', serif;
    font-weight: bold;
    color: #145B73;
    margin-top: 1rem;
}

.tambah-gambar-berita-admin:hover {
    background-color: #BCE2EF !important;
    cursor: pointer;
}

.tambah-gambar-berita-admin:active {
    box-shadow: inset 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.tambah-gambar-berita-admin img {
    object-position: center; /* Menjaga fokus di tengah gambar */
    object-fit: cover !important;
}

.utama-judul-kategori-tba {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1.5rem;
}

.form-one-tba {
    width: 38vw;
    
}

.form-one-tba label {
    font-weight: bold;
}

.form-one-tba input {
    border: 1px solid #145B73;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.form-one-tba select {
    border: 1px solid #145B73;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.form-one-tba input::placeholder {
    font-family: 'Inter', serif;
    font-size: 1em;
    color: rgb(56, 54, 54);
}

.form-one-tba option {
    font-family: 'Inter', serif;
    font-size: 1em;
}

.form-one-tba input,
.form-one-tba select,
.form-text {
    font-family: 'Inter', serif !important;
}

.utama-text-berita {
    margin: 1.5rem 2rem;
}

.utama-text-berita label{
    font-weight: bold;
}

.form-text {
    border: 1px solid #145B73 !important;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.form-text::placeholder {
    font-family: 'Inter', serif !important;
    font-size: 1em;
    color: rgb(56, 54, 54) !important;
}

.button-tba {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 2rem;
}

.button-tba button{
    background-color: #145B73 !important;
    color: white;
    border: none;
    border-radius: 10px !important;
    cursor: pointer;
    width: 15vw;
    height: 3rem;
    font-family: 'Lora', serif !important;
    font-weight: bold !important;
    box-shadow: 3px 3px 0px 0 rgba(0, 0, 0, 0.2);
    margin: 30px 0px;
    border: none !important;
}

.button-tba button:hover{
    background-color: #033444 !important;
}

.button-tba button:active{
    box-shadow: inset 3px 3px 0px 0 rgba(0, 0, 0, 0.2);
}

  /* === Tablet === */
@media (max-width: 1023px) {
    
}

/* === Mobile === */
@media (max-width: 767px) {
    
.utama-judul-kategori-tba {
    display: flex;
    flex-direction: column;
}
.form-one-tba {
    width: 80vw;
    margin-bottom: 1.5rem;
    
}
}
